# Ignore standard hidden files and directories
.bash_history
.bashrc
.dropbox/
.drush/
.gnupg/
.lesshst
.mysql_history
.pearrc
.viminfo
.ssh/

# Ignore OS X files and directories
.CFUserTextEncoding
.DS_Store
.trash
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Projects
Public
Sites
VirtualBox\ VMs

# Track ssh config
!.ssh/config
