Config
    { bgColor = "black"
    , fgColor = "grey"
    , position = Static { xpos = 0, ypos = 0, width = 1286, height = 16 }
    , commands =
        [ Run DynNetwork
            [ "--template" , "<dev>: [<tx>kB/s] [<rx>kB/s]"
            , "--Low"      , "1000"
            , "--High"     , "5000"
            , "--low"      , "darkgreen"
            , "--normal"   , "darkorange"
            , "--high"     , "darkred"
            , "--minwidth" , "4"
            ] 10
        , Run MultiCpu
            [ "--template" , "cpu: [<total0>%] [<total1>%]"
            , "--Low"      , "50"
            , "--High"     , "85"
            , "--low"      , "darkgreen"
            , "--normal"   , "darkorange"
            , "--high"     , "darkred"
            , "--minwidth" , "2"
            ] 10
        , Run CoreTemp
            [ "--template" , "temp: [<core0>°C] [<core1>°C]"
            , "--Low"      , "70"
            , "--High"     , "80"
            , "--low"      , "darkgreen"
            , "--normal"   , "darkorange"
            , "--high"     , "darkred"
            , "--minwidth" , "2"
            ] 50
        , Run Memory
            [ "--template" ,"mem: [<usedratio>%]"
            , "--Low"      , "20"
            , "--High"     , "90"
            , "--low"      , "darkgreen"
            , "--normal"   , "darkorange"
            , "--high"     , "darkred"
            , "--minwidth" , "2"
            ] 10
        , Run Battery
            [ "--template" , "batt: [<acstatus>]"
            , "--Low"      , "10"
            , "--High"     , "80"
            , "--low"      , "darkred"
            , "--normal"   , "darkorange"
            , "--high"     , "darkgreen"
            ] 50
        , Run Date "%a %b %_d %Y | %H:%M:%S" "date" 10
        , Run StdinReader
        ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%StdinReader%}{ %dynnetwork% | %multicpu% | %coretemp% | %memory% | %battery% | %date%"
    }
